@import '../variables.scss';


.v-text-field {
  fieldset {}
  .v-label--active.primary--text {
    color: var(--v-primary-darken3) !important;
    font-weight: 700;
  }
}
.v-btn--is-primary {
  color: black !important;
}
.v-card__title {
  font-weight: 700 !important;
  letter-spacing: -0.025em !important;
}
.v-card__title + .v-card__subtitle {
  border-bottom: 1px dashed #e0e0e0;
}
body, .v-main {
  background: #f2f2f2;
}
.page-title {
  font-weight: 800;
  text-align: center;
}
.page-title::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: linear-gradient(120deg, var(--v-primary-base), var(--v-primary-lighten3));
  border-radius: 100%;
  vertical-align: top;
  margin-right: 5px;
}
.custom-chkbox[type=checkbox] {
  display: none;
}
.custom-chkbox[type=checkbox] + label {
  padding: 0.5em 0.8em;
  border-radius: 4px;
  background: #f2f2f2;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}
.custom-chkbox[type=checkbox] + label > .v-icon {
  margin-right: 3px;
}
.custom-chkbox[type=checkbox]:checked + label {
  background: $clr-primary-back;
  color: var(--v-primary-darken3);
}
.custom-chkbox[type=checkbox]:checked + label > .v-icon {
  color: var(--v-primary-darken1);
  font-weight: 400;
}
.btn-main {
  background: linear-gradient(140deg, var(--v-primary-base), var(--v-primary-darken1)) !important;
}