@import '../variables.scss';


h2 {
  font-size: map-get(map-get($headings, 'h2'), 'font-size');
}

.v-text-field {
  fieldset {
    color: map-get($colors, 'gray300') !important; // 테두리값
    &:focus {
      border: 1px solid green !important;
      color: blue !important;
    }
  }
}

.input-base {
  fieldset {
    color: map-get($colors, 'gray300');

    // 다른 스타일 속성들을 필요에 따라 추가할 수 있습니다.
  }

  .v-label {
    // 라벨 스타일을 커스터마이즈할 수도 있습니다.
    color: #333; // 예시: 라벨 텍스트 색상 변경
    font-size: 20px; // 예시: 라벨 텍스트 크기 조정
  }
  .v-text-field--outlined {
    color: 1px solid red !important;
  }
  &fieldset:focus {
    color: blue !important; // 포커스 상태일 때 테두리 색상 변경
    background-color: #E3F2FD; // 포커스 상태일 때 배경색 변경
  }
}

.btn-main {
  background: $clr-primary;
  color: #fff;
  width: 100%;
  height: map-get($buttons-sizes, 'default');
}
