@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/PretendardVariable.woff2') format('woff2-variations');
}

:root {
  --clr-backgray: #fafafa;
  --clr-lightgray: #e0e0e0;
  --clr-gray: #9e9e9e;
  --clr-midgray: #787878;
  --clr-deepgray: #424242;
  --clr-black: #212121;
  --clr-primary-light: #FFF3E0;
  --clr-primary: #EF6C00;
  --clr-primary-deep: #E65100;
}

html {
  font-size: 10px;
}
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.6rem;
  letter-spacing: -0.025em;
  margin: 0 auto;
  padding: 0;
  background: var(--clr-backgray);
}
.container {
  padding: 2rem !important;
}

.v-application, button, input, select, textarea {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.025em;
}
.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot, .v-text-field.v-text-field--enclosed .v-text-field__details {
  padding: 0 1.4rem;
}
.v-input {
  margin-bottom: 1.2rem !important;
}
.v-input__slot, .v-input--checkbox {
  margin: 0;
}
.v-application--is-ltr .v-text-field .v-input__prepend-inner {
  padding-right: 1rem;
}
.v-icon {
  font-size: 2rem !important;
}
.theme--light.v-icon, .theme--light.v-label {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 500 !important;
}
/* input 테두리 */
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  color: rgba(0, 0, 0, 0.15) !important;
}
.v-text-field--outlined.v-input--is-focused fieldset, .v-text-field--outlined.v-input--has-state fieldset {
  border: 1px solid currentColor !important;
}
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled) > .v-input__control > .v-input__slot:hover fieldset {
  color: rgba(0, 0, 0, 0.5) !important; /* input hover 테두리 */
}
.v-text-field__details {
  display: none !important;
}

.v-main { /* main contents 영역 */
  background: var(--clr-backgray);
}

.id-form {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 1.2rem;
  padding: 2rem 2.4rem;
}
.id-tit {
  text-align: center;
  margin: 2rem 0;
}
.input-btn-wrap {
  display: flex;
  align-items: flex-start;
}
.input-btn-wrap .v-btn {
  height: 56px !important;
  font-size: 1.6rem;
  padding: 0 2rem !important;
  max-width: 25% !important;
  margin-left: 0.5rem;
}
.v-btn__content {
  letter-spacing: -0.02em;
}
.v-btn {
  height: 56px !important; /* input 기본 height 높이 설정과 동일하게 */
}
.btn-submit {
  margin-bottom: 2rem;
}
.btn-submit .v-btn__content {
  font-size: 1.8rem;
  font-weight: 700;
}
.v-input--checkbox .v-label {
  font-size: 1.4rem;
}
.v-input--selection-controls__ripple,
.id-form .v-input--checkbox .v-messages {
  display: none;
}
.login-more {
  text-align: center;
  color: rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
}
.login-more > span {
  margin: 0 1rem;
}
.login-more a {
  text-decoration: none;
}
.send-code-btn .v-btn__content {
  font-size: 1.6rem;
}
.input-caption .v-input {
  margin-bottom: 0.5rem !important;
}
.cap {
  font-size: 1.3rem;
  color: var(--clr-gray);
}
.after-check {
  border-top: 1px solid var(--clr-lightgray);
  margin: 3rem 0 0;
  padding-top: 3rem;
}

/* ********** form layout setting ********** */
.input-type2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/* ********** app-bar reset ********** */
.v-toolbar {
  box-shadow: none !important;
  background-color: var(--clr-backgray) !important;
}